.vs
Collections/bin/
Collections/obj/
XUnitTestProject1/bin/
XUnitTestProject1/obj/
Collections/Properties/PublishProfiles/FolderProfile.pubxml
Collections/Properties/PublishProfiles/FolderProfile.pubxml.user
Collections/Collections.csproj.user
